* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 7px;
  border: 2px solid black;
  border-radius: 7px;
  margin: 5px;
}

a:hover {
  background: black;
  color: white;
  transition: all 0.8 ease;
  font-weight: bold;
  cursor: pointer;
}

input {
  padding: 7px;
}


ul {
  margin: 15px 20px;
}

li {
  list-style: square;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.delete {
  padding: 0px;
  border-radius: 1px;
  margin: 0px;
}

.delete:hover {
  background-color: red;
  color: white;
  transition: all 0.8 ease;
}